<h2>Open New Case</h2>

<div class="main-div">
<div>
    <form [formGroup]="caseForm">
        <mat-form-field>
            <mat-label>Case Type</mat-label>
            <mat-select formControlName="caseType" (selectionChange)="updateForm()">
                <mat-option *ngFor="let caseType of CaseTypeKeys" [value]="caseType">
                {{caseType}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <router-outlet></router-outlet>

    </form>

</div>



</div>